.contact-us{padding-top: 0;overflow: hidden;}
.contact-us .contact-before{padding-bottom: 0;background: rgba(122, 106, 79, 0.20);}
.contact-us .contact-before::before{width: 130%;height: 115%;background: rgba(122, 106, 79, 0.20);bottom: 0;}
.contact-us .contact-container .contect-text{display: flex;flex-direction: column;justify-content: center;align-items: flex-end;gap: 10px;position: relative;top: 34px;}
.contact-us .contact-container{display: flex;flex-direction: column;justify-content: center;align-items: flex-end;gap: 10px;}
.contact-us .contact-container .main-head{color: var(--black);font-size: 25px;font-style: normal;font-weight: 500;line-height: 38px;}
.contact-us .contact-container .home-contact{display: flex;gap: 5px;align-items: center;}
.contact-us .contact-container .home-contact .viol{color: var(--primary);text-decoration: none;}
.contact-us .contact-container .home-contact .black{color: var(--black);text-decoration: none;}
.contact-bg::after{background: rgba(122, 106, 79, 0.20);}

.massage{padding: 48px 0;}
.massage .massage-col{display: flex;justify-content: center;}
.massage .massage-col::before{width: 50%;height: 662px;}
.massage .massage-img{width: 535px;height: 662px;padding: 25px;object-fit: cover;}
.massage .masage-form{display: flex;padding: 25px;flex-direction: column;justify-content: center;align-items: flex-start;flex: 1 0 0;border-radius: 10px;background: rgba(122, 106, 79, 0.16);}
.massage .masage-form .main-head{color: var(--brown);font-size: 25px;font-style: normal;font-weight: 500;line-height: 38px;padding-bottom: 8px;}
.massage .masage-form .radio-btns{display: flex;gap: 20px;margin: 20px 0;width: 100%;justify-content: center;}
.massage .masage-form .radio-btns .radio-batton{display: flex;gap: 10px;justify-content: center;padding: 16px 10px;flex: 1 0 0;border: 1px solid #000;position: relative;}
.massage .masage-form .radio-btns .radio-batton:focus{background-color: var(--primary);}
.massage .masage-form .form-check-input{border: 2px solid black;}
.massage .masage-form .form-check-input:checked{background-color: var(--primary);border: 2px solid var(--white);}
.massage .masage-form .form-check-input:focus{box-shadow: none;}
.massage .masage-form .form-check-input:checked:focus{box-shadow: none;}
.massage .masage-form .form-check-input:checked:focus .radio-batton{background-color: var(--primary);} 
.massage .masage-form .comn-f-label{margin-bottom: 4px;color: var(--black);}
.massage .masage-form .comn-in{margin-bottom: 10px;width: 100%;padding: 10px 16px;border-radius: 4px;border: 1px solid #CFD9E0;background: var(--white);}
.massage .masage-form .comn-f-label .red{color: red;}
.massage .masage-form .massage-textarea{margin-bottom: 20px;}
.massage .masage-form .massage-batton{background: var(--brown);color:var(--white);border: none;margin-left: auto;}
.massage .masage-form .radio-btns .bg-lable{width: 100%;height: 100%;position: absolute;top: 0;display: flex;align-items: center;justify-content: center;padding-top: 3px;}
input[type="radio"]:checked + label { color: var(--white);background-color: var(--primary); }
.massage .masage-form .radio-btns .bg-lable:checked{background-color: var(--primary);}
.massage .masage-form .radio-btns .comn-cir{z-index: 3;}
.massage .masage-form  .ok{width: 60px;}
.massage .masage-form  .now{padding-left: 28px;}

/* Address Section */

.address{padding-bottom: 48px;}
.address .location{height: 100%;}
.address .comn-add{display: flex;padding: 0px 20px 20px 20px;flex-direction: column;align-items: flex-start;flex: 1 0 0;align-self: stretch;border-radius: 10px;border: 1px solid #CFD9E0;background: var(--white);transition: linear 0.3s;text-decoration: none;}
.address .comn-add:hover{border: 1px solid var(--brown);background: rgba(122, 106, 79, 0.10);}
.address .comn-add:hover .comn-add-img::before{background-color:var(--brown);} 
.address .comn-add .comn-add-img::before{transition: linear 0.3s;transform: skewX(345deg);} 
.address .comn-add:hover .comn-add-img{color: var(--white);}
.address .comn-add .comn-add-img{width: 80px;height: 80px;margin-bottom: 15px;font-size: 34px;color: var(--brown);transition: linear 0.3s;}
.address .comn-add .add-icn{z-index: 2;}
.address .cmn-address{color: var(--black);font-weight: 500;margin-bottom: 4px;font-size: 18px;font-style: normal;font-weight: 500;line-height: 26px;}
.address .add-fs-col{padding-right: 15px;}
.address .add-sec-col{padding-left: 15px;}
.address .add-sub-text{padding-bottom: 15px;}
.address .connection{display: flex;gap: 30px;padding-bottom: 30px;}
.address .working-hr{flex-direction: row;align-items: center;margin-bottom: 30px;}
.address .working-hr .clock-img{margin-bottom: 0;}
.address .working-hr .work-text{padding-left: 15px;}
.address .direction{font-weight: 500;color: var(--brown);text-decoration: none;}

@media(max-width: 991.98px){
    .address .add-fs-col{margin-bottom: 30px;}
    .contact-bg::before{display: block;}
    .contact-bg::after{display: block;}
}
@media(max-width: 575.98px){
    .massage .massage-col{padding-bottom: 0;}
    .massage .massage-col::before{height: 100%;}
    .massage .massage-img{width: 100%;height: 100%;}
    .address .connection{flex-direction: column;}
    .address .working-hr{flex-direction: column;align-items: flex-start;}
    .address .working-hr .work-text{padding-left: 0;padding-top: 15px;}
}
@media(max-width: 374.98px){
    .massage .masage-form .radio-btns .radio-batton{padding-bottom: 37px;}
    .radio-btns{flex-direction: column;}
}