*{font-family: 'Poppins', sans-serif;}
:root{--primary: #6C00B8;--brown: #7A6A4F;--white:#fff;--black:#000;--sub-text-color:#374957;--gray:#555;--dark-gray:#374957;--comn-bg-color:rgba(122, 106, 79, 0.10);}
.comn-sub-text-1{color: var(--sub-text-color);font-size: 14px;font-style: normal;font-weight: 400;line-height: 22px;text-decoration: none;}
.comn-sub-text-2{color: var(--gray);font-size: 16px;font-style: normal;font-weight: 400;line-height: 24px;}
.comn-text-head-1{color: var(--primary);font-size: 16px;font-style: normal;font-weight: 600;line-height: 24px;text-decoration: none;}
.comn-text-head-2{color: var(--black);font-size: 18px;font-style: normal;font-weight: 500;line-height: 26px;}
.comn-btn{display: flex;padding: 16px 30px;justify-content: center;align-items: center;text-decoration: none;width: fit-content;gap: 10px;font-size: 16px;font-style: normal;font-weight: 500;line-height: 24px;position: relative;}
.comn-btn::before{width: 100%;height: 100%;background-color: var(--primary);content: '';position: absolute;z-index: -1;transition: linear 0.3s;}
.comn-btn:hover::before{transform: skewX(-13deg) scaleX(0.9);}
.comn-bg{position: relative;}
.comn-bg::before{position: absolute;content: '';background-color: var(--primary);z-index: -1;transform: skewX(340deg);}
.c-img{width: 100%;height: 100%;object-fit: cover;}
.violate{color: var(--primary);font-weight: 500;}
.fs-col{padding-right: 35px;}
.sec-col{padding-left: 35px;}
.off-nav .nav-section{display: none;}
p{margin-bottom: 0;}
h2{margin-bottom: 0;}
h3{margin-bottom: 0;}
h5{margin-bottom: 0;}
.main-comn-section{width: 100%;height: 70px;position: relative;overflow: hidden;display: flex;align-items: center;}
.comn-top::before{background: #f1f0ed;transform-origin: bottom left;border-top-right-radius: 20px;position: sticky;content: '';width: 50%;top: 0;left: 0;height: 100%;z-index: 2;transform: skew(55deg, 0deg);}
.comn-top::after{background: #fff;transform-origin: bottom left;width: 50%;right: 8px;border-bottom-left-radius: 10px;position: sticky;content: '';width: 50%;top: 0;left: 0;height: 100%;z-index: 2;transform: skew(55deg, 0deg);}
.comn-bottom::before{background: #fff;transform-origin: top right;top: 0;width: 50%;left: 8px;z-index: 3;border-top-right-radius: 10px;position: sticky;content: '';width: 50%;top: 0;height: 100%;transform: skew(55deg, 0deg);}
.comn-bottom::after{background: #f1f0ed;transform-origin: top right;width: 50%;right: 0;top: 0;border-bottom-left-radius: 20px;position: sticky;content: '';width: 50%;top: 0;left: 0;height: 100%;z-index: 2;transform: skew(55deg, 0deg);}

.first-section{padding: 10px 0;background: var(--brown);}
.first-section .fs-cont{display: flex;justify-content: space-between;}
.first-section .fs-cont .text{color: var(--white);font-weight: 300;}
.first-section .fs-cont .icons{display: flex;align-items: center;gap: 10px;}
.first-section .fs-cont .icon{color: var(--white);font-size: 18px;width: 20px;height: 20px;}

/* Logo Section */

.logo-section{padding: 10px 0;}
.logo-section .logo-part{display: flex;align-items: center;justify-content: space-between;}
.logo-section .logo-part .logo-part-1{display: flex;align-items: center;gap: 10px;}
.logo-section .logo-part .logo-part-1 .logo{width: 77.902px;height: 64px;object-fit: contain;}
.logo-section .logo-part .logo-part-1 .sub-text{color: var(--sub-text-color);font-size: 12px;font-style: normal;font-weight: 500;line-height: 20px;text-decoration: none;}
.logo-section .logo-part .logo-part-1 .logo-text{display: flex;align-items: flex-start;justify-content:center;flex-direction: column;}
.logo-section .logo-part .logo-part-1 .logo-text .text-head{color: var(--primary);}
.logo-section .logo-part .contact{display: flex;align-items: center;}
.logo-section .logo-part .contact .contact-icons{display: flex;width: 48px;padding: 10px;justify-content: center;align-items: center;margin-right: 10px;position: relative;}
.logo-section .logo-part .contact .call-be{position: relative;}
.logo-section .logo-part .contact .call-be::before{position: absolute;content: '';width: 27.995px;height: 28px;flex-shrink: 0;border-radius: 50%;background-color: var(--brown);opacity: 0.15;}
.logo-section .logo-part .contact .identity{display: flex;flex-direction: column;align-items: flex-start;gap: 2px;margin-right: 20px;}
.logo-section .logo-part .contact .identity .c-id{color: var(--black);}
.logo-section .logo-part .contact .identity .sub-text{color: var(--sub-text-color);}
.logo-section .logo-part .contact .login-btn{text-decoration: none;color: var(--white);}
.canvas-batton{color: var(--primary);display: none;font-size: 30px;background-color: transparent;border: none;}

/* Navbar Section */

.nav-section{background: var(--dark-gray);padding: 0;}
.nav-section .nav-cont{justify-content: flex-start;}
.nav-section .tg{align-self: stretch;position: relative;}
.nav-section .tg::after{content: '';position: absolute;width: 0%;height: 4px;bottom: 0;left: 0;background-color: var(--white);align-self: stretch;border-radius: 10px 10px 0px 0px;transition: ease 0.5s;}
.nav-section .tg:hover::after{width: 100%;}
.nav-section .active{background: rgba(0, 0, 0, 0.20);}
.nav-section .active::after{z-index: 2; content: '';position: absolute;width: 100%;height: 4px;bottom: 0;left: 0;background-color: var(--white);align-self: stretch;border-radius: 10px 10px 0px 0px;}
.nav-section .opt{padding: 16px;color: var(--white);padding-bottom: 20px;}
.nav-section .opt::after{display: none;}
.nav-section .opt .fa-chevron-down{width: 16px;height: 16px;font-size: 14px;}

/* First Slider */

.main-class{padding: 130px 0;background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.32) 50.63%), url(../images/slider-img.jpeg), lightgray 0px -116.799px / 100% 172.93% no-repeat;background-size: cover;background-position: 50% 28%;}
.invest-slider-main{position: relative;}
.invest-slider .text{flex-direction: column;}
.invest-slider .sub-text{color: var(--white);text-transform: uppercase;align-self: stretch;}
.invest-slider .main-head{color: var(--white);font-size: 61px;font-style: normal;font-weight: 600;line-height: 96px;margin-bottom: 25px;position: relative;}
.invest-slider .batoons{display: flex;gap: 10px;}
.invest-slider .batoons .know-more{color: var(--white);z-index: 2;}
.invest-slider .batoons .know-more::before{z-index: -1;}
.invest-slider .batoons .contact-us{color: var(--white);z-index: 2;}
.invest-slider .batoons .contact-us::before{z-index: -1;background-color: var(--brown);}
@keyframes tec {0% {left: -90px;opacity: 0;}100% {left: 0;opacity: 1;}}
@keyframes lec {0% {top: 70px;opacity: 0;}100% {top: 0;opacity: 1;}}

.slick-active .invest-slider .main-head{animation: tec 2s;}
.invest-slider-main .fs-slider{position: absolute;bottom: 50%;transform: translate(-50%,50%);right: 0%;width: 50px; height: 200px;overflow: hidden;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.invest-slider-main .fs-slider .slide-main{width: 16px !important;height: 16px !important;display: flex;align-items: center;justify-content: center;margin: 14px 8px;}
.invest-slider-main .fs-slider .slick-arrow{color: var(--white);background-color: transparent;border: none;font-size: 20px;padding-right: 25px;}
.invest-slider-main .fs-slider .slick-list{padding: 0 !important;height: 145px !important;}
.invest-slider-main .fs-slider .slide-main .first-cr-dots{min-width: 16px !important;min-height: 16px !important;background-color: var(--white);}
.invest-slider-main .fs-slider .slick-current{position: relative;/*padding: 2px;outline: 1px solid var(--primary);width: 20px !important;height: 20px !important;margin-left: 7px;*/}
.invest-slider-main .fs-slider .slick-current::before{position: absolute;content: '';width: 163%;height: 163%;border: 1px solid var(--primary);}
.invest-slider-main .fs-slider .slick-current .first-cr-dots{background-color: var(--primary);}

/* About Section  */

.about{padding: 73px 0;}
.about .worker{display: flex;align-items: center;justify-content: center;}
.about .worker::before{width: 335px;height: 568px;}
.about .w-img{width: 485px;height: 518px;flex-shrink: 0;}
.about .about-text{display: flex;flex-direction: column;align-items: flex-start;gap: 10px;flex: 1 0 0;justify-content: center;}
.about-head{color: var(--black);margin-left: 30px;position: relative;font-weight: 500;margin-bottom: 10px;}
.about-head::before{position: absolute;content: '';width: 10px;height: 24px;background-color: var(--primary);left: -25px;transform: skewX(345deg);}
.comn-head-about{color: var(--Black, #000);font-size: 37px;font-style: normal;font-weight: 600;line-height: 49px;align-self: stretch;}
.about .about-text .main-head{padding-bottom: 10px;}
.about .about-text .konw{color: var(--white);margin-top: 10px;}
.about .about-text .konw::before{background-color: var(--brown);}

/* About Section */

.services .services-text{display: flex;align-items: flex-start;justify-content: center;flex-direction: column;}
.services .services-main{padding: 48px 0; background-color: var(--comn-bg-color);}
.services .services-main .main-head{padding-bottom: 10px;}  
.services .services-main .well-btn{color: var(--white);margin-top: 20px;}
.services .services-main .well-btn::before{background-color: var(--brown);}
.services .computer{display: flex;align-items: center;justify-content: center;position: relative;}
.services .computer::before{width: 335px;height: 568px;flex-shrink: 0;}
.services .computer .ser-img{width: 535px;height: 568px;flex-shrink: 0;padding: 25px;}
.services .fs-row{padding-bottom: 48px;}
.services .c-card{display: flex;padding: 15px;justify-content: space-between;align-items: flex-start;gap: 10px;flex: 1 0 0;align-self: stretch;flex-direction: column;border-radius: 10px;background: var(--white);box-shadow: 0px 0px 20px 0px rgba(33, 37, 41, 0.10);height: 100%;}
.services .c-card:hover .main-text{color: var(--primary);}
.services .c-card:hover .arrow-link .arrow{border-color: var(--primary);}
.services .c-card:hover .arrow-link .arrow .arrow-icn{transform: rotate(0deg);color: var(--primary);}
.services .c-card .cad-img{height: 200px;align-self: stretch;border-radius: 10px;margin-bottom: 10px;overflow: hidden;}
.services .c-card .sub-text{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;text-overflow: ellipsis;}
.services .c-card .main-text{transition: linear 0.3s;}
.services .c-card .arrow-link{display: flex;align-items: center;gap: 6px;color: var(--black);font-weight: 500;}
.services .c-card .arrow-link .arrow{width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;border: 2px solid var(--black);border-radius: 100%;padding: 10px;transition: linear 0.3s;}
.services .c-card .arrow-link .arrow .arrow-icn{font-size: 17px;transform: rotate(-45deg);transition: linear 0.3s;}

/* Investor section */

.investor{padding: 48px 0;}
.investor .invest-col::before{width: 50%;height:100%;flex-shrink: 0;top: 0;left: 23%;transform: skew(335deg);}
.investor .invest-col{padding: 25px 60px 25px 37px;display: flex;justify-content: center;}
.investor .character{padding: 46px;background: var(--brown);box-shadow: 0px 0px 20px 4px rgba(33, 37, 41, 0.08);width: 485px;}
.investor .character .main-text{color: var(--white);font-size: 25px;font-style: normal;font-weight: 500;line-height: 34px;text-transform: uppercase;}
.investor .character .line{background-color: var(--white);height: 2px;position: relative;margin: 15px 0;}
.investor .character .line::after{position: absolute;content: '';width: 8px;height: 8px;background-color: var(--white);right: -4px;top: -3.3px;transform: rotate(45deg);}
.investor .character .line::before{position: absolute;content: '';width: 8px;height: 8px;background-color: var(--white);left: -4px;top: -3.02px;transform: rotate(45deg);}
.investor .character .sub-text{color: var(--white);margin-bottom: 8px;}
.investor .character .sub-text .vision{text-decoration: underline;}
.investor .character .vision-btn{width: 100%;color: var(--brown);margin-top: 22px;z-index: 2;}
.investor .character .vision-btn::before{background-color: var(--white);}
.investor .character .vision-btn:hover::before{transform: skewX(-13deg) scaleX(0.99);}
.investor .invest-col-table{display: flex;justify-content: center;align-items: flex-start;flex-direction: column;}
.investor .invest-col-table .investor-text{display: flex;padding: 20px;flex-direction: column;align-items: flex-start;align-self: stretch;box-shadow: 0px 0px 20px 4px rgba(33, 37, 41, 0.16);margin-bottom: 20px;}
.investor .invest-col-table .investor-text .main-text{color: var(--gray);padding-bottom: 10px;}
.investor .invest-col-table .investor-text .text-date{font-weight: 500;color: var(--black);padding-bottom: 10px;}
.investor .invest-col-table .invest-table{border-color: #CFD9E0;padding-bottom: 4px;margin-bottom: 0;}
.investor .invest-col-table .invest-table .sub-text{padding: 10px;}
.investor .invest-col-table .invest-table .num{display: flex;align-items: center;justify-content: center;padding: 10px 20px;}
.investor .invest-col-table .view-all{font-weight: 500;margin-left: auto;text-decoration: none;color: var(--black);}

/* Advisory Process Section */

.process-main{padding: 48px 0; background-color: var(--comn-bg-color);}
.process .process-row{justify-content: center;padding-bottom: 38px;}
.c-text{text-align: center;padding-bottom:10px;font-weight: 500;}
.c-main-text{padding: 0;padding-bottom: 4px;width: fit-content;margin-bottom: 0;}
.process .slider-row .slider-clm{display: flex;justify-content: center;align-items: center;}
.process .slider-row .process-slider::before{width: 60%;height: 100%;flex-shrink: 0;top: 0;left: 17%;}
.process .slider-row .process-slider{padding: 25px 60px 25px 25px;}
.process .slider-row .process-slider .process-item{width: 485px;height: 568px;flex-shrink: 0;}
.process .slider-row .process-num{display: flex;flex-direction: column;justify-content: center;padding-top: 25px;position: relative;}
.process .slider-row .process-num::after{position: absolute;content: ' ';height: 80%;top: 10%;color: #000;left: 6%;width: 30px;border-right: 1px dashed var(--brown);z-index: -2;}
.process .slider-row .process-num .num-head{display: flex;align-items: center;gap: 20px;align-self: stretch;margin-bottom: 75px;}
.process .slider-row .process-num .last-head{margin-bottom: 0;}
.process .slider-row .process-num .num-head .num{display: flex;width: 70px;height: 70px;padding: 16px;justify-content: center;align-items: center;color: var(--white);font-size: 25px;font-style: normal;font-weight: 500;line-height: 38px;position: relative;}
.process .slider-row .process-num .num-head .num::before{position: absolute;content: '';width: 70%;height: 100%;background-color: var(--brown);transform: skewX(343deg);z-index: -1;}
.process .slider-row .process-num .slick-current .num::before{background-color: var(--primary);}
.process .slider-row .process-num .num-head .main-head{color: var(--black);font-size: 20px;font-style: normal;font-weight: 500;line-height: 28px;}
.process .slider-row .process-num .slick-current .main-head{color: var(--primary);}
.process .slider-row .process-num .slick-list{height: 100% !important;} 
/* .process .slider-row .process-num .slick-list .slick-slider .slick-track, .slick-slider .slick-list{height: 100% !important;} */


.process .slider-row .process-num .last-head .num::after{display: none;}
.process .slider-row .process-num .slick-track{transform: none !important;display: flex;flex-direction: column;justify-content: space-between;position: relative;}
.process .slider-row .slider-clm .slider-img{width: 535px;height: 618px;flex-shrink: 0;padding: 25px 0;object-fit: cover;}
.process .slider-row .slider-text-clm{padding-top: 25px;}
.process .slider-row .slide-text-box{display: flex;align-items: center;gap: 20px;align-self: stretch;}
.process .slider-row .connect-line{display: flex;margin: 0px 35px;justify-content: center;align-items: center;flex: 1 0 0;width: 2px;height: 96px;border: 1px dotted var(--brown);}

/* Finkasturi Section  */

.finkasturi{padding: 48px 0;}
.finkasturi .finkasturi-row{justify-content: center;padding: 0;padding-bottom:38px;}
.finkasturi .kasturi-row .com-card{display: flex;flex-direction: column;align-items: flex-start;flex: 1 0 0;align-self: stretch;border-radius: 10px;box-shadow: 0px 0px 20px 0px rgba(33, 37, 41, 0.10);padding: 0px 20px 20px 20px;height: 100%;transition: ease 0.5s;text-decoration: none;color: var(--brown);}
.finkasturi .kasturi-row .com-card:hover{outline: 1px solid #7A6A4F;box-shadow: none;}
.finkasturi .kasturi-row .com-card .sub-text{color: var(--gray);}
.com-card .card-img{width: 120px;height: 120px;position: relative;display: flex;align-items: center;justify-content: center;margin-bottom: 20px;}
.com-card .card-img::before{position: absolute;content: '';width: 70%;height: 100%;background-color: rgba(122, 106, 79, 0.16);transform: skewX(340deg);}
.finkasturi .kasturi-row .com-card .card-head{color: var(--black);font-size: 18px;font-style: normal;font-weight: 500;line-height: 26px;padding-bottom: 10px;}
.finkasturi .kasturi-row .com-card .card-img .card-c-img{width: 64px;height: 64px;flex-shrink: 0;object-fit: cover;}
.finkasturi .kasturi-row .com-card .card-img .card-head{color: var(--black);font-size: 18px;font-style: normal;font-weight: 500;line-height: 26px;}
.finkasturi .kasturi-row .com-card .card-img .sub-text{color: var(--black);font-size: 18px;font-style: normal;font-weight: 500;line-height: 26px;}

/* Principal Office Section */

.principal .principal-main{padding: 48px 0; background-color: var(--comn-bg-color);position: relative;}
.principal .principal-main .bg{background-image: url(../images/testimonial-bg.png);background-repeat: no-repeat;background-position-y: 44%;z-index: -1;position: absolute;width: 100%;height: 100%;opacity: 0.25;}
.principal .office-detail{display: flex;align-items: center;justify-content: flex-start;}
.principal .office-detail .main-card{display: flex;padding: 80px 30px 30px 30px;flex-direction: column;justify-content: center;align-items: flex-start;flex: 1 0 0;border-radius: 10px;box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.10);position: relative;background-color: var(--white);gap: 10px;}
.principal .office-detail .main-card .detail-logo{position: absolute;display: flex;width: 120px;height: 120px;padding: 16px;justify-content: center;align-items: center;top: -30%;left: 40%;z-index: 2;}
.principal .office-detail .main-card .detail-logo::before{position: absolute;width: 80%;height: 100%;content: '';background-color: var(--primary);z-index: -1;transform: skewX(345deg);}
.principal .office-detail .main-card .detail-logo .user{width: 70px;height: 70px;flex-shrink: 0;}
.principal .office-detail .main-card .main-head{color: var(--black);text-align: center;font-size: 20px;font-style: italic;font-weight: 400;line-height: 28px;margin-bottom: 10px;}
.principal .office-detail .main-card .comn-name{color: var(--black);display: flex;align-items: center;gap: 7px;align-self: stretch;}
.principal .office-detail .main-card .comn-name .office-icn{width: 16px;height: 16px;color: var(--primary);}
.principal .office-photo{display: flex;align-items: center;justify-content: center;}
.principal .photos{width: 490px;height: 568px;flex-shrink: 0;}
.principal .photos::before{width: 60%;height: 100%;left: 20%;}
.principal .photos .office-photo-1{width: 370px;height: 490px;flex-shrink: 0;padding: 25px;object-fit: cover;}
.principal .photos .office-photo-2{position: absolute;width: 236px;height: 291px;flex-shrink: 0;padding: 25px;bottom: 0;right: 0;object-fit: cover;}



.event{padding: 48px 0;}
.event .event-row{justify-content: center;padding: 0;padding-bottom:18px;}
.event .slider-box{display: flex;align-items: flex-start;align-self: stretch;justify-content: space-around;}
.event .slider-box .comn-box{display: flex;padding: 15px;align-items: center;box-shadow: 0px 0px 20px 4px rgba(33, 37, 41, 0.08);background-color: var(--white);margin: 0 15px;}
.event .slider-box .comn-box::before{width: 65%;height: 200px;transform: skewX(-45deg);right: 17%;}
.event .slider-box .comn-box .day{display: flex;flex-direction: column;margin-right: 15px;text-decoration: none;}
.event .slider-box .comn-box .date{display: flex;padding:26px 25px;flex-direction: column;justify-content: center;align-items: center;flex: 1 0 0;background: rgba(122, 106, 79, 0.10);}
.event .slider-box .comn-box .date .te{color: var(--brown);font-size: 25px;font-style: normal;font-weight: 500;line-height: 34px;text-transform: uppercase;}
.event .slider-box .comn-box .day .ttt{display: flex;padding: 9px;justify-content: center;align-items: center;gap: 10px;align-self: stretch;background-color: var(--brown);color: var(--white);}
.event .slider-box .comn-box .google{display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start;flex: 1 0 0;align-self: stretch;}
.event .slider-box .comn-box .google .g-meet{display: flex;align-items: center;gap: 4px;}
.event .slider-box .comn-box .google .g-meet .fa-location-dot{width: 14px;height: 14px;color: var(--primary);}
.event .slider-box .comn-box .google .call-review{color: var(--black);font-size: 18px;font-style: normal;font-weight: 500;line-height: 26px;margin-bottom: auto;}
.event .slider-box .comn-box .google .battons{display: flex;align-items: flex-end;gap: 10px;width: 100%;}
.event .slider-box .comn-box .google .battons .btns{display: flex;align-items: flex-end;gap: 10px;}
.event .slider-box .comn-box .google .battons .vvm{padding: 8px 30px;color: var(--white);font-weight: 500;z-index: 1;}
.event .slider-box .comn-box .google .battons .dark-btn::before{background-color: var(--black);}
.event .slider-box .comn-box .google .battons .time{display: flex;align-items: center;height: 100%;margin-left: auto;text-decoration: none;}
.event .slider-box .comn-box .google .battons .time .fa-clock{width: 14px;height: 14px;color: var(--primary);padding-right: 4px;display: flex;align-items: center;margin-right: 8px;}


.event .slider-box .slick-list{padding: 20px 0;}
.event .box-num .slick-list{padding: 0 !important;width: 140px !important;}
.event .box-num .slick-arrow{color: var(--brown);background-color: transparent;border: none;font-size: 20px;}
.event .box-num .slick-list .slick-track{display: flex;align-items: center;justify-content: center;}
.event .box-num{display: flex;width: 230px;height: 30px;align-items: center;position: relative;left: 41%;margin-top: 28px;}
.event .box-num .box-main{margin: 14px;display: flex;align-items: center;justify-content: center;width: 16px !important;height: 16px !important;}
.event .box-num .box-main .box-squres{min-width: 16px !important;height: 16px !important;opacity: 0.2;background: var(--primary);}
.event .box-num .slick-current{position: relative;}
.event .box-num .slick-current::before{position: absolute;content: '';width: 163%;height: 163%;border: 1px solid var(--primary);}
.event .box-num .slick-current .box-squres{opacity: 1;}

/* Footer  */

.kasturi-footer{padding-bottom: 0px;position: relative;}
.kasturi-footer .footer-main{padding-bottom: 30px;padding-top:48px; background-color: var(--comn-bg-color)}
.kasturi-footer .footer-main .footer-logo{display: flex;gap: 10px;padding-bottom: 15px;}
.kasturi-footer .footer-main .footer-logo .foot-img{min-width: 77.902px;height: 64px;object-fit: contain;}
.kasturi-footer .footer-main .footer-logo .logo-text{display: flex;flex-direction: column;align-items: flex-start;justify-content: center;}
.kasturi-footer .footer-main .footer-logo .logo-text .logo-text-head{color: var(--black);}
.kasturi-footer .footer-main .footer-logo .logo-text .logo-sub-text{color: var(--black);font-size: 12px;font-style: normal;font-weight: 400;line-height: 20px;}
.kasturi-footer .footer-main .ser-col{display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;gap: 10px;}
.kasturi-footer .footer-main .ser-col .ser-head{padding-bottom: 5px;}
.kasturi-footer .footer-main .ser-col .services-link{transition: linear 0.5s;}
.kasturi-footer .footer-main .ser-col .services-link:hover{color: var(--primary);}
.kasturi-footer .footer-main .location-col .services-link{display: flex;gap: 7px;align-items: center;justify-content: flex-start;}
.kasturi-footer .footer-main .location-col .location{align-items: baseline;}
.kasturi-footer .footer-main .location-col .services-link .foot-icn{width: 16px;height: 16px;}
.kasturi-footer .footer-row{border-bottom: 1px solid var(--brown);padding-bottom: 25px;}
.kasturi-footer .footer-fq{padding: 10px;align-items: center;justify-content: center;gap: 46px;border-bottom: 1px solid var(--brown);}
.kasturi-footer .footer-fq .fq-link{color: var(--gray);width: fit-content;transition: linear 0.3s;}
.kasturi-footer .footer-fq .fq-link:hover{color: var(--primary);}

.copy-section{padding: 10px 0;background-color: var(--brown);}
.copy-section .copy-container{display: flex;justify-content: space-between;align-items: center;}
.copy-section .copy-container .copy{color: var(--white);}
.copy-section .copy-container .icons-l{display: flex;gap: 10px;color: var(--white);font-size: 20px;}

.kasturi-footer .whatsapp{position: absolute;}

@media(max-width: 1499.98px){
    .invest-slider-main .fs-slider{bottom: 50%;}
}
@media(max-width: 1399.98px){
    .invest-slider-main .fs-slider{bottom: 50%;}
    .event .slider-box .comn-box::before{width: 60%;right: 20%;}
    .process .slider-row .process-num .slick-track::after{left: -37%;}
}
@media(max-width: 1199.98px){
    .nav-section .opt{padding: 14px;}
    .process .slider-row .process-num .slick-track::after{left: -45%;}
    .process .slider-row .process-num::after{left: 8%;}
    .invest-slider-main .fs-slider{bottom: 50%;}
}

@media(max-width: 991.98px){
    .comn-section{padding: 20px 0;}
    .main-comn-section{display: none;}
    .first-section{display: none;}
    .fs-col{padding-right: 12px;padding-bottom: 35px;}
    .sec-col{padding-left: 12px;padding-top: 35px;}
    .canvas-batton{display: block;}
    .logo-section .logo-part .contact .dis-non{display: none;}
    .logo-section .logo-part .contact .identity{display: none;}
    .logo-section .logo-part .contact .login-btn{display: none;}
    .logo-section .logo-part .contact .call-be::before{display: none;}
    .about .about-text{padding-top: 0;padding-bottom: 35px;}
    .about .worker{padding-bottom: 0;padding-top: 35px;}
    .about .w-img{width: 100%;}
    .about .worker::before{width: 70%;}
    .services .computer::before{width: 70%;height: 100%;}
    .services .computer .ser-img{height: 460px;}
    .services .computer .ser-img{width: 100%;}
    .nav-section{display: none;}
    .off-nav .nav-section{display: block;}
    .invest-slider .main-head{font-size: 40px;line-height: 60px;}
    .invest-slider-main .fs-slider{bottom: 58%;}
    .comn-kasturi-col{margin-bottom: 20px;}
    .principal .office-detail{padding-top: 50px;}
    /* .process .slider-row .process-num .num-head{margin-bottom: 20px;} */
    .process .slider-row .process-num .slick-current .num::before{background-color: var(--brown);}
    .process .slider-row .process-num .slick-current .main-head{color: var(--black);}
    .process .slider-row .process-slider::before{display: none;}
    .slick-slide img{display: none;}
    .process .slider-row .process-slider{display: none;}
    .process .slider-row .process-num::after{left: 2%;}
    .process .slider-row .process-num{padding-top: 0;}
    .last-ks-col{margin-bottom: 0;}
    .investor .invest-col{padding: 25px;}
    .investor .invest-col-table{padding-top: 70px;}
    .kasturi-footer .footer-fq{gap: 0;}
    .invest-slider-main .fs-slider{bottom: 54%;}
}
@media(max-width: 767.98px){
    .services .services-main .comn-col-ser{margin-bottom: 30px;}
    .kasturi-footer .kasturi-fs-col{padding-bottom: 25px;}
    .invest-slider-main .fs-slider{transform: rotate(-90deg);top: 75%;left: 54%;}
    .event .box-num{left: 30%;}
    .process .slider-row .process-num::after{left: 3%;}
}
@media(max-width: 575.98px){
    .comn-section{padding: 50px 0;}
    .comn-head-about{font-size: 30px;line-height: 40px;}
    .main-comn-section{padding: 42px 0;}
    .c-img{object-fit: contain;}
    .comn-btn{padding: 14px 26px;}
    .main-class{padding: 100px 0;}
    .invest-slider .main-head{font-size: 37px;line-height: 46px;}
    .invest-slider .sub-text{font-size: 14px;}
    .invest-slider-main .fs-slider{top: 64%;left: 50%;}
    .about .worker::before{width: 70%;height: 100%;}
    .services .computer::before{width: 70%;height: 100%;}
    .investor .invest-col::before{transform: skew(-15deg);}
    .about .w-img{width: 100%;height: 100%;}
    .services .computer .ser-img{width: 100%;height: 100%;padding: 0;}
    .investor .character{width: 100%;height: 100%;padding: 20px;}
    .process .slider-row .process-num .num-head{margin-bottom: 50px;}
    .event .slider-box .comn-box .google .battons{flex-direction: column;align-items: flex-start;padding-top: 10px;}
    .event .slider-box .comn-box .google .battons .vvm{padding: 8px 20px;}
    .event .slider-box .comn-box{flex-direction: column;}
    .event .slider-box .comn-box .day{flex-direction: row;width: 100%;margin-right: 0;margin-bottom: 15px;}
    .services .c-card .c-img{object-fit: cover;}
    .event .slider-box .comn-box::before{height: 110%;top: -4%;transform: skew(-18deg);}
    .event .box-num{left: 20%;}
    .process .slider-row .process-num::after{left: 4%;}
    .location-col{padding-top: 20px;}
    .principal .photos{width: 380px;height: 500px;}
    .principal .photos .office-photo-1{width: 330px;height: 400px;}
    .principal .photos .office-photo-2{width: 220px;height: 290px;}
    .kasturi-footer{padding-bottom: 0px;}
    .kasturi-footer .footer-fq{gap: 7px;}
}
@media(max-width: 424.98px){
    .principal .photos{width: 300px;height: 450px;}
    .principal .photos .office-photo-1{width: 250px;height: 300px;padding: 15px;}
    .principal .photos .office-photo-2{width: 220px;height: 250px;padding: 15px;}
    .principal .office-detail .main-card .main-head{font-size: 16px;}
    .event .slider-box .comn-box .date{padding: 16px 25px;}
}
@media(max-width: 374.98px){
    .comn-btn{padding: 14px 15px;}
    .invest-slider .batoons .know-more{font-size: 14px;}
    .invest-slider .batoons .contact-us{font-size: 14px;}
    .process .slider-row .process-num::after{top: 7%;}
    .invest-slider-main .fs-slider{left: 45%;}
    .principal .photos::before{transform: skewX(-14deg);}
}